/* удаляю стрелки из инпута для всех браузеров */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 171px;
}

.about__text {
  flex-basis: 70%;
  margin-right: 65px;
}

.about__title {
  font-family: 'Monument Extended', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #131313;
  margin-bottom: 25px;
}

.about__description {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #131313;
  margin-bottom: 45px;
}

.cost {
  font-family: 'Monument Extended', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #131313;
  margin-bottom: 20px;
}

.about__pricing_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__images {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: -5%; /* костыль для выравнивания картинок */
}

.about__image {
  margin-right: 10px;
  margin-bottom: 10px;
}

.input__number {
  width: 80px;
  height: 70px;
  border: 1px solid rgba(19, 19, 19, 0.25);
  box-sizing: border-box;
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  color: #131313;
}

.about__pricing-btn {
  width: 210px;
  height: 70px;
  background: #0038FF;
  border: none;
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.left {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #131313;
}

.about__ticker {
  margin-bottom: 150px;
}

.about__ticker-text {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
}

.underline {
  text-decoration: underline;
}

@media(max-width: 1200px) {
  .about__wrapper {
    margin-bottom: 100px;
  }
  .about__text {
    margin-right: 50px;
  }
  .about__title {
    font-size: 25px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  
  .about__description {
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .about__pricing_wrapper {
    justify-content: flex-start;
  }
  .input__number {
    width: 50px;
    height: 40px;
    font-size: 22px;
    line-height: 18px;
    margin-right: 10px;
  }
  
  .about__pricing-btn {
    width: 150px;
    height: 40px;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
  }
  
  .left {
    font-size: 16px;
    line-height: 32px;
  }
  .cost {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .about__image {
    width: 150px;
    height: 150px;
  }
}

@media(max-width: 991px) {
  .about__images {
    display: none;
  }
  .about__ticker {
    margin-bottom: 100px;
  }
  .about__ticker-text {
    font-size: 25px;
  }
}

@media(max-width: 769px) {
  .about__text {
    margin-left: auto;
    margin-right: auto; /* можно попробовать убрать */
  }
  .about__ticker {
    display: none;
  }
  .hr-solid {
    margin-bottom: 60px;
  }
}

@media(max-width: 661px) {
  .about__pricing_wrapper {
    display: block;
  }
  .input__number {
    width: 120px;
    margin-bottom: 5px;
  }
  .about__pricing-btn {
    width: 120px;
  }
  .left {
    font-size: 13px;
  }
}