.first-section {
  margin-top: 282px;
}

.first-section__headline {
  font-family: 'Monument Extended', serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 64px;
  color: #131313;
}

.first-section__subheadline {
  font-family: 'Monument Extended', serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 45px;
  color: #131313;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.first-section__btn {
  width: 210px;
  height: 70px;
  margin-bottom: 180px;
  background: #0038FF;
  border: none;
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.first-section__ticker {
  margin-bottom: 150px;
}

.first-section__ticker-text {
  font-family: 'Neue Machina', sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  text-shadow: 1px 1px #0038FF, 1px 1px #0038FF, 1px 1px #0038FF, 0 -1px #0038FF;
}

@media(max-width: 1200px) {
  .first-section {
    margin-top: 150px;
  }
  .first-section__headline {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
  }
  
  .first-section__subheadline {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .first-section__btn {
    width: 160px;
    height: 50px;
    margin-bottom: 130px;
    font-size: 20px;
  }
  .first-section__ticker {
    margin-bottom: 120px;
  }
  .first-section__ticker-text {
    font-size: 60px;
    line-height: 77px;
  }
}

@media(max-width: 991px) {
  .first-section {
    margin-top: 100px;
  }
  .first-section__headline {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
  
  .first-section__subheadline {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .first-section__btn {
    width: 160px;
    height: 50px;
    margin-bottom: 70px;
    font-size: 20px;
  }
  .first-section__ticker {
    display: none;
  }
}


@media(max-width: 769px) {
  .first-section {
    margin-top: 100px;
  }
  .first-section__btn {
    margin-bottom: 100px;
  }
}

@media(max-width: 661px) {
  .first-section {
    margin-top: 130px;
  }
  .first-section__headline {
    line-height: 40px;
  }
  
  .first-section__subheadline {
    margin-bottom: 30px;
  }
  .first-section__btn {
    width: 160px;
    height: 50px;
    font-size: 20px;
  }
}