@-webkit-keyframes animate-circle {
  from {
      transform: scale(0);
      opacity: 1;
  }
  to {
      transform: scale(1);
      opacity: 0;
  }
}

@keyframes animate-circle {
  from {
      transform: scale(0);
      opacity: 1;
  }
  to {
      transform: scale(1);
      opacity: 0;
  }
}

.loader {
  --size: 50rem;
  
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--size);
  width: var(--size);
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.loader > .circle {
      --duration: 5s;
      
      position: absolute;
      height: inherit;
      width: inherit;
      background: #0038FF;
      border-radius: 50%;
      -webkit-animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
              animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
  }

.loader > .circle:nth-of-type(1) {
          -webkit-animation-delay: 0;
                  animation-delay: 0;
      }

.loader > .circle:nth-of-type(2) {
          -webkit-animation-delay: calc(var(--duration) / -3);
                  animation-delay: calc(var(--duration) / -3);
      }

.loader > .circle:nth-of-type(3) {
          -webkit-animation-delay: calc(var(--duration) / -6);
                  animation-delay: calc(var(--duration) / -6);
      }

@media (max-width: 800px) {
  .loader {
    --size: 30rem;
  }
}