@font-face {
  font-family: "Monument Extended";
  src: url(/fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/NeueMachina-Regular.woff);
  /* src: url(/fonts/NeueMachina-Medium.woff);
  src: url(/fonts/NeueMachina-Bold.woff); */
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 65%;
  max-width: 1200px;
  margin: auto;
}

@media(max-width: 1200px) {
  
  .container {
    width: 70%;
  }

}