@font-face {
  font-family: "Monument Extended";
  src: url(../fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: "Neue Machina";
  src: url(../fonts/NeueMachina-Regular.woff);
}

html {
  scroll-behavior: smooth;
  font-family: 'Courier New', Courier, monospace;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 65%;
  max-width: 1200px;
  margin: auto;
}

@media(max-width: 1200px) {
  
  .container {
    width: 70%;
  }

}